/* @import "../node_modules/bootstrap/dist/css/bootstrap.css"; */

.timer-wrapper {
  float: right;
}

.score-exam {
  position: absolute;
  right: 16px;
  top: 24px;
  border: 1px solid #e9e9e9;
  padding: 20px 40px;
}

.soal {
  padding: 12px;
  border: 1px solid #e9e9e9;
}

.timeline-active {
  border: 1px solid #28a745!important;
}

.silabus {
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.react-calendar {
  width: 100%;
  border: 0px;
  margin-bottom: 12px;
  background : #f3f3f3;
}

.borderLeftCalender {
  border-left-color: antiquewhite;
    border-left: solid 1px #f3f3f3;
}

#new-toolbox > div.toolbox-content > div.button-group-right > div:nth-child(2) { display: none; }

#root > div > div > nav > div > div.navbar-brand.header-logo > a.b-brand > div > span { margin-left: 176px;}

.logo-sidebar {
  width: auto !important;
  height: auto !important;
}

.menu-mati {
  color: #949495;
}


a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* RESPONSIVE IMAGE */
.responsive-image-banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position: center;
}
.responsive-image-content {
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  background-position: center;
}

.responsive-image-profile {
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100%;
  background-position: center;
}

.responsive-image-forum {
  background-repeat: no-repeat;
  background-size: cover;
  height: 12vh;
  width: 25%;
  background-position: center;
}
/* END */


/* Create a simple white box, and add the shadow for the initial state */
.box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
/* .box-chat {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
} */

/* Scale up the box */
/* .box-chat:hover {
  transform: scale(1.2, 1.2);
} */

/* Fade in the pseudo-element with the bigger shadow */
/* .box-chat:hover:after {
  opacity: 1;
} */

.box-chat {
  height: 50vh;
  background-color: white;
  /* width: 60vh; */
  /* margin-bottom: 5vh; */
  border: 1px solid #d6d4d4;
  overflow: auto;
  /* box-shadow: -1px 1px 8px 0px; */
}
.box-chat-send {
  /* height: 10vh; */
  background-color: white;
  /* width: 60vh; */
  margin-bottom: 5vh;
  border: 1px solid #d6d4d4;
  /* box-shadow: -1px 1px 8px 0px; */
}
.box-chat-send-left {
      /* background-color: #f1f1f1; */
    /* float: left; */
    /* padding: 10px; */
    margin: 10px;
    /* border-radius: 10px; */
    border-bottom: 0.5px solid #ddd;

}


/* Checkbox custom css  */
/* The container */
.container {
  /*display: block; */
    position: relative;
    padding-left: 31px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    /* -webkit-user-select: none; */
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0079dc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

input[type=file]{
  /* width:90px; */
  color:transparent;
}

.modal-xlg {
  max-width: 1200px !important;
}


.mt-10 {
  margin-top: 12rem !important;
}

.badge-notif {
  color: white;
  font-size: 10px;
  padding: 1px 3px;
  position: absolute;
  top: 0;
  right: 8px;
  background-color: #fa3e3e;
  border-radius: 50%;
}

.header-kartu {
  color: #0091FF;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.agenda-chat {
  background: #FFF;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    border-left: 4px solid #004887;;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #6f6f6f;
  background-image: none;
  background: white;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: #3d3d3d;
  position: relative;
  top: 7px;
  left: 1px;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: #3d3d3d;
  position: relative;
  top: 7px;
  left: 1px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-indicators {
  display: none;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: -11px;
  left: 15%;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 17px;
}

.cursor {
  cursor: pointer;
}